* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #fa721d;
  --secondary-color: #20e0dd;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  padding: 0 21px;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 500;
  /* font-weight: 500; */
  color: #fff;
  background: #171100;
  border-radius: 999px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 5.8rem;
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.heading-2 {
  font-size: 3.8rem;
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.heading-3 {
  font-size: 2.4rem;
  font-family: var(--font-heading);
  color: #171100;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.48px;
}

.header img {
  width: 10rem;
  border-radius: 50%;
}

.header {
  background: #f9f7f4;
  /* padding: 0 24px; */
}

.header.fixed {
  position: sticky;
  top: -24px;
  z-index: 1;
}

.header .header-content {
  display: flex;
  align-items: center;
  padding: 32px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  position: relative;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* text-shadow: 1px 0 0 currentColor; */
  font-weight: 500;
}

.nav li.active a::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  position: absolute;
  left: 22px;
  bottom: 5px;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

.main-content {
  padding: 50px 0 65px;
  background: #f9f7f4;
}

.main-content .main-body {
  display: flex;
}

.main-content .media .media-img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 10px;
}

.main-content .media {
  width: 48%;
  position: relative;
}

.main-content .main-summary {
  width: 270px;
  padding: 24px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 68px;
  background-color: #fff;
}

.main-summary .item {
  display: flex;
  align-items: center;
}

.main-summary .item + .item {
  margin-top: 12px;
}

.main-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff4e5;
}

.main-summary .info {
  margin-left: 16px;
}

.main-summary .label {
  font-size: 1.4rem;
  color: #5f5b53;
  line-height: 186%;
}

.main-summary .title {
  font-size: 1.8rem;
  color: #171100;
  font-weight: 600;
  font-style: normal;
  line-height: 167%;
}

/* right */

.main-content .content {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.main-content .btn-primary {
  background-color: var(--primary-color);
  min-width: 130px;
}

.main-content .btn-secondary {
  background-color: var(--secondary-color);
  min-width: 130px;
}

.main-content .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  color: #5f5b53;
  line-height: 1.67;
}

.main-content .cta-group {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-content .desc-footer {
  margin-top: 48px;
}

.main-content .desc-stats {
  margin-top: 8px;
}

.main-content .desc-stats strong {
  margin-right: 12px;
  color: #171100;
  font-size: 4.4rem;
  line-height: 1.23;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-family: var(--font-heading);
}

.main-content .desc-stats strong:nth-child(2) {
  margin-left: 30px;
}

.popular-content {
  margin-top: 135px;
  padding: 64px 0;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  color: #5f5b53;
  line-height: 1.67;
}

.popular-top .controls {
  display: flex;
  align-items: center;
  gap: 18px;
}

.popular-top .btn-control {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-top .btn-control:hover {
  background: #171100;
  color: #fff;
  cursor: pointer;
}

.popular-content .popular-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular-content .popular-item {
  flex: 1;
  border-radius: 10px;
  border: 1px solid #e2dfda;
  background-color: #fff;
}

.popular-content .popular-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-list .thumbnail {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.popular-list .star {
  width: 16px;
}

.popular-content .info {
  padding: 16px 22px 22px;
}

.popular-content .info-foot,
.popular-content .info-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-content .info-head .title a {
  font-size: 1.8rem;
  color: #171100;
  font-weight: 600;
  line-height: 1.67;
}

.popular-content .rating {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popular-content .rating .value {
  color: var(--primary-color);
  font-size: 1.6rem;
}

.popular-content .rating .desc {
  margin-top: 8px;
  font-size: 1.4rem;
  color: #5f5b53;
  line-height: 1.87;
}

.popular-content .info-foot {
  margin-top: 18px;
}

.popular-content .info-foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular-content .info-foot .btn-book {
  border: none;
}

.popular-content .info-foot .btn-book:hover {
  background: var(--primary-color);
  color: #fff;
}

.feedback-content {
  margin-top: 135px;
  padding: 64px 0;
  background-color: #2e2100;
}

.feedback-item {
  max-width: 1170px;
  display: flex;
  flex-shrink: 0;
}

.feedback-item .avatar {
  /* object-position: 50% 0; */
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback-item .member-name {
  margin-top: 18px;
  font-size: 2.4rem;
  font-family: var(--font-heading);
  color: #fff;
  line-height: 1.42;
  font-weight: 700;
}

.feedback-item .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  color: #e2dfda;
  line-height: 1.86;
}

.feedback-item .dots {
  margin-top: 18px;
  display: flex;
  gap: 6px;
}

.feedback-item .dots .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #634700;
}

.feedback-item .dots .dot.active {
  background-color: #fa721d;
}

.feedback-item .feedback-right {
  width: 66%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}
